

input{
    width: 100%;
}
/* 
.todoItem{
   text-align: left;
   margin:10px;
} */
.todo{
  text-align: left;
  margin:10px;
}

.kg-row{
    margin: 7px 3px;
}

.kg-button{
    min-width: 80px;
}
